/* Archivo: styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #c29f82, #e6ccb3);
    color: #663300;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    border: 5px solid #c76e39;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffe4c4;
}

.header {
    text-align: center;
    padding: 1rem;
    background-color: #c76e39;
    color: #fff;
    border-radius: 12px 12px 0 0;
}

.header h1 span {
    color: #ffd08d;
}

.photo-section {
    text-align: center;
    margin: 1rem 0;
}

.photo {
    border-radius: 50%;
    border: 5px solid #c76e39;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.info-section, .links-section {
    margin: 1rem 0;
    text-align: center;
}

.info-section h2, .links-section h2 {
    color: #c76e39;
}

.links-section a.link {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #c76e39;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.links-section a.link:hover {
    background-color: #ae5028;
}

.footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #663300;
}